<%- include header %>
<div class="row">
<h1>Ghost Hunter Game</h1>
</div>
<br>
<br>
<br>
<br>
<div class="row">
    <div class="h5 mb-0 font-weight-bold text-gray-800">
        <img width="40%" src="img/main_menu.PNG">
        <img width="40%" src="img/ingame.PNG">
    </div>



    <div class="h5 mb-0 font-weight-bold text-gray-800">
        <a class="btn btn-primary" href="#">Download</a>
    </div>


</div>

<!-- End of Main Content -->
<%- include footer %>