<%- include header %>
        <div style="width: 400px; margin-left:auto;margin-right:auto;">
            <h1 class="text-success">Register Successful</h1><br>
            <a href="/">Proceed to login</a>
        </div>
<%- include footer %>